<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/private" method="POST">
      <label>User:</label><input type="text" name="id"><br/>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
