<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/users">Go to list of Users</a>
    <form action="/users/id" method="GET">
      <label>User Id:</label><br/>
      <input type="text" size="50" name="userId">
      <input type="submit" value="Login">
    </form>
    
  </body>
</html>
