<!DOCTYPE html>
<html>
  <head>
    <title>List of Users/Clients</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List of Users</h1>
    <% users.forEach(user => { %>
      <div>
        <div>
          <h3><%= user.name %></h3>
        </div>
        <div class="backplate">
          <div>
            <div class="fixx">
              <div class="fix"><%= user.id %></div>
              <div class="fix"><%= user.name %></div>
            </div>
            <a href="/users/id/<%= user.id %>"><button class="button">See details</button></a>
          </div>
        </div>
      </div>
    <% }) %>
    
  </body>
</html>
